<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Categories</title>
</head>
<body>
    <%- include("./partials/navbar.ejs", {user: user}) %>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                <% categories.forEach((category) => { %>
                <tr>
                    <th scope="row"><%= category.id %></th>
                    <td><%= category.Category %></td>
                    <td> <button class="btn btn-primary" onclick="updatedCategory(<%= category.id %>)"> Update </button></td>
                    <td> <button class="btn btn-danger" onclick="deleteCategory('<%= category.Category %>')"> Delete </button></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-success" onclick="createCategory()"> Add Category </button>
        </div>
    </div>
</body>
</html>